html {
  font-family: monospace;
  font-size: calc(1em + 1vmin + 2vmax);
}

body {
  padding: 1em;
  display: flex;
  flex-flow: column;
  margin: auto;
}

article {
  align-items: center;
  display: flex;
  flex-flow: column;
  line-height: 1.618;
  min-height: 100vh;
}

h1 {
  align-self: flex-start;
}

menu {
  padding: 0;
  list-style: none;
}

li {
  margin-block: 0 3ch;
}

:focus {
  outline-width: thick;
  outline-style: groove;
}
