.rose {
  background-color: plum;
  background-image: linear-gradient(plum, gainsboro, mediumturquoise, fuchsia, #fab);
  color: #212;
}

.rose ::selection {
  background: deeppink;
  color: #101;
}

.rose :any-link {
  color: indigo;
}
